@import url(javascript.fullPage.css);
@import url(fullpage.css);
@import url(style.css);
@import url(normalize.css);
@import url(default.css);
@import url(liangliang.css);
#liyunlong{
    position:relative;
    visibility:visible;
    z-index:1;
    width:700px;
    height:80px;
    border:none;
    margin-top: 250px;
    margin-bottom: 100px;
}
.liyunlongImg{
    border:none;
    width:150px;
}
li {
    float: left;
    list-style-type: none;
    position:absolute;
    opacity: 0.6;
    transition-property: all;
    transition-duration:1s;
    transition-timing-function:ease-in-out;
    text-align: center;
    color: #fff;
    font-size: 70px;
    cursor: pointer;
}

ul {
    width: 100px;
    height: 100px;
    margin: 100px auto;
    -webkit-transform: rotateY(-10deg) rotateX(-20deg);
    transform: rotateY(-10deg) rotateX(-20deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 400px;
    perspective: 400px;
    position: relative;
}

.box2 > li > div {
    position: absolute;
    top: 10px;
    right: 10px;
    left: 10px;
    bottom: 10px;
    border-radius: 50%
}
.box2 > li > div > p{
    font-family: "Microsoft YaHei", sans-serif;
    color: #cccccc;
    font-size: 16px;
}
.Num{
    width:500px;
    height: 300px;
    margin-top: -200px;
}
.Num > div{
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 24px;
    margin-top: 0px;
}
.Num > div > .day{
    font-weight: bold;
    background-image: -webkit-linear-gradient(left, #147B96, #E6D205 25%, #147B96 50%, #E6D205 75%, #147B96);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-size: 200% 100%;
    -webkit-animation: masked-animation 4s infinite linear;
}

/*@-webkit-keyframes masked-animation {
    0%{ background-position: 0 0;}
    100% { background-position: -100% 0;}
}*/
.happy{
    margin: auto;
    width: 500px;
    height:100px;
    margin-top: 270px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    background-image: -webkit-linear-gradient(left, #147B96, #E6D205 25%, #147B96 50%, #E6D205 75%, #147B96);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-size: 200% 100%;
    -webkit-animation: masked-animation 4s infinite linear;
    font-family:'Malapropismd710ec97c1a87d';
}